<form action="<%= actionUrl %><%= getPostQueryString(true) %>" method="post">
  <fieldset <%= !isAuthenticated?'disabled':'' %>>
    <% if(parentComment){ %>
      <input type="hidden" name="parentComment" value="<%= parentComment %>">
    <% } %>
    <div class="input-group mt-2 mb-4">
      <textarea name="text" rows="2" class="form-control <%= (commentError._id == comment._id && commentError.parentComment == parentComment && commentError.errors.text)?'is-invalid':'' %>"><%= (commentForm._id == comment._id)?commentForm.form.text:comment.text %></textarea>
      <div class="input-group-append">
        <% if(comment._id){ %>
          <a href="javascript:void(0)" class="cancel" onclick="$('#comment-<%= comment._id %>').removeClass('comment-edit-enabled')">Cancel</a>
          <button type="submit" class="btn btn-outline-primary pl-3 pr-3">Edit</button>
        <% } else if(parentComment) {%>
          <a href="javascript:void(0)" class="cancel" onclick="$('#comment-<%= parentComment %>').removeClass('comment-reply-enabled')"><span class="center">Cancel</span></a>
          <button type="submit" class="btn btn-outline-primary">Reply</button>
        <% } else { %>
          <button type="submit" class="btn btn-outline-primary">Add Comment</button>
        <% } %>
      </div>
    </div>
    <% if(commentError._id == comment._id && commentError.parentComment == parentComment && commentError.errors.text){ %>
      <span class="invalid-feedback d-block"><%= commentError.errors.text.message %></span>
    <% } %>
  </fieldset>
</form>
