<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h2>Welcome!</h2>
        <P>방문해 주셔서 감사합니다!</p>
      </div>

    </div>

    <div class="container mb-3">
      <h3 class="mb-3">Latest Posts</h3>

      <% if(posts == null || posts.length == 0){ %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-text">There is no data to show :(</h5>
          </div>
        </div>
      <% } %>

      <% posts.forEach(function(post) { %>
        <a href="/posts/<%= post._id %><%= getPostQueryString() %>" class="card mb-2">
          <div class="card-block p-2 pl-3 pr-3">

            <div class="title-ellipsis ellipsis float-left border-bottom color-gray">
              <span class="card-title"><%= post.title %></span>
            </div>

            <div class="title-ellipsis ellipsis float-left color-gray">
              <span class="card-text"><%= post.body %></span>
            </div>

          </div>
        </a>
      <% }) %>
      </div>

  </body>
</html>
